
<app-search (keyword) = "getImages($event)" (urls) = "checkItem($event)"></app-search>
  
      <app-show-images 
        *ngFor = "let r of this.images"
        (imageClicked) = "saveImg($event)" 
        [img] = r >
      </app-show-images>

      <app-show-images 
        *ngFor = "let t of this.urllist"
        [img] = t >
      </app-show-images>

      <div class="w3-bar" *ngFor = "let l of this.totalpage">
          <button (click) = "changePage(l)">{{l}}</button>
      </div>

      




